body {
    font-family: 'Arial', sans-serif;
    background: url('/frontend/assets/fondo.jpeg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555555;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #66cc66;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #5cb85c;
}

p {
    margin-top: 10px;
    color: #555555;
}

a {
    color: #66cc66;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
